.header{
    background-color: darkblue;
    position: absolute;
    top: 0;
    height: 10%;
    width: 100%;
    text-align: center;
    padding-bottom: 42px;
    background-image: linear-gradient(darkblue,white);
}

.clock { 
position: absolute;
height: 30%;
width: 30%;
top: 15%;
position: absolute;
margin-left: 28%;font-size: 250px;font-family: 'Abril Fatface', cursive;
font-family: 'Anton', sans-serif;

}

.quoteClass{
    position: absolute;
    height: 10%;
    width: 46%;
    top: 56%;
    position: absolute;
    margin-left: 28%;font-size: 50px;font-family: 'Abril Fatface', cursive;
    font-family: 'Anton', sans-serif;   
}

.footer{
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-image: linear-gradient(white,darkblue);
}

.heading{
    color: #2b1515;
    font-family: 'Oswald', sans-serif;
    font-size: xxx-large;
    padding-bottom: 50px;
    /* animation: headertransition;
    animation-duration: 4s;
    animation-iteration-count: infinte; */
}

body{
    margin: 0;
}
